.articleWrapper {
  
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
    
        width: 80%;
        padding: 50px 0 100px 0;


        &_title {
           
            margin-bottom: 30px;
        }

        &_banner {
            position: relative;
            width: 100%;
       
        }

        &_content {
            
            width: 100%;
            text-align: justify;

            &__subtitle {
                
                font-weight: 500;
                margin: 30px 0;
            }

            &__innertitle {
               
                
            }

            &__images {
                position: relative;
                width: 100%;
                
            }

            &__paragraphTitle {
              font-weight: 500;
                
            }
    

            &__paragraph {
                margin-bottom: 30px;
            }

            &__nonelistWrapper {

                &_listTitle {

                }

                &_list {
                    list-style-position: inside;
                }
            }

            &__listWrapper {

                &_listTitle {

                }

                &_list {
                    list-style-position: inside;
                }
            }
        }


    }

   

}