.about {

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    

    img {
        
        position: absolute;
        z-index: 0;
        left: -60%;
        bottom: 0;
        opacity: 0.5;
        

    }
}