@import '../../styles/style.scss';

.media {
   
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    @include RWD(sm) {
        grid-template-columns: 1fr;

    }

    &__downloadBox {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        position: relative;

        &_number {
                  
            font-size: clamp(40px, 2.604vw, 50px);
            font-family: var(--font-montserrat);
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }
        

        &_container {
           
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 10px;
            // border: 1px solid $gray;
            // background-image: linear-gradient(120deg, #fdfbfb 0%, #f3f4f5 100%);
            background: url('../../../../../public/images/backgroung.png');
            background-size: cover;

            &__content {
               
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-direction: column;
                gap: 20px;
                padding: 40px;
       
             

               

                &_icon {
                    font-size: 40px;
                    
                    background-color: rgba(white, 1);
                    color: $black;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                 
                }
        
                &_title {
                    
                    width: auto;
                    text-align: center;
                    font-size: 25px;
                    font-weight: 500;
                    font-family: var(--font-montserrat);
                    
                }

                &_button {
                    
                }
            }

            




          
        }

        

       

    }
    

}