.market {

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, transparent, #fff);

    

    img {
        
        position: absolute;
        z-index: 0;
        top: 0;
        right: -200px;
        opacity: 0.8;
      
        

    }
}