@import '../../styles/style.scss';

.latest {
    
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;

    &__tabList {
        list-style: none;
        display: flex;
        gap: 20px;
        padding: 20px 0;

        &_tabItem {
           
            // display: inline-block;
            padding: 2px 15px;
            border-radius: 4px;
            border: 1px solid $black;
            cursor: pointer;
            min-width: 100px;
            text-align: center;
        }
    }

    &__cardWrapper {
        
       display: grid;
       gap: 40px;
       grid-template-columns: repeat(2, 1fr);
    }
}

