$primary-green: #51BA97;
$black: #171717;
$white: #fcfcfc;
$gray:  #e8e6e6;


$market: #f69451;
$forum: #f5adcc;
$pitching: #50be9c;


$dark_market: #f3794c;
$dark_forum: #f290bb;
$dark_pitching: #14b68c;

$light_market: #fab172;
$light_forum: #f8cbdf;
$light_pitching: #7dcab6;
