.articleWrapper {
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 250px);
    padding-top: 100px;

    @include RWD(sp820) {
        width: 100%;
    }
    
 

    &__container {
    
        width: 80%;
        padding: 50px 0 100px 0;

        @include RWD(sp820) {
            width: 90%;
        }


        &_title {
           
            font-size: clamp(30px, 1.822vw, 35px);
            margin-top: 0;
            line-height: 1.5;
        }

        &_banner {
            position: relative;
            width: 100%;
            display: inline-flex;
       
        }

        &_content {
            
            width: 100%;
            text-align: justify;

            &__subtitle {
            
                margin: 30px 0;
                font-size: clamp(22px, 1.5625vw, 30px);
                line-height: 1.5;
            }

            &__innertitle {
               
                font-size: clamp(20px, 1.40625vw, 27px);
                line-height: 1.5;
            }

            &__images {
                position: relative;
                width: 100%;
                
            }

            &__paragraphTitle {
             
                font-weight: 700;
                margin-bottom: 0;
            }
    

            &__paragraph {
                margin-bottom: 30px;
            }

            &__nonelistWrapper {

                text-align: left;
               

                &_listTitle {
                    
                }

                &_list {
                    list-style: none;
                    padding: 0;
                    // list-style-position: inside;
                }
            }

            &__listWrapper {

                &_listTitle {

                }

                &_list {
                    // list-style-position: inside;
                }
            }
        }


    }

   

}